[changelog]
header = "# Changelog\n\nAll notable changes to this project will be documented here.\n"
body = """
## [{{ version | trim_start_matches(pat="v") }}] - {{ timestamp | date(format="%Y-%m-%d") }}

{% for group, commits in commits | group_by(attribute="group") %}
### {{ group | upper_first }}
{% for commit in commits %}
- {{ commit.message }} ([{{ commit.id | truncate(length=7) }}])
{% endfor %}
{% endfor %}
"""
footer = "\nGenerated automatically by git-cliff."

[git]
conventional_commits = true
tag_pattern = "v[0-9]*"
commit_parsers = [
    { message = "^feat", group = "Features"},
    { message = "^fix", group = "Bug Fixes"},
    { message = "^doc", group = "Documentation"},
    { message = "^perf", group = "Performance"},
    { message = "^refactor", group = "Refactor"},
    { message = "^style", group = "Styling"},
    { message = "^test", group = "Testing"},
]
